Repository VladimirGhrejyan/metallic-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format:fix, pnpm lint

.lintstagedrc.json:

{
    "*.{js,ts,jsx,md,json}": ["pnpm format:fix", "git add"],
    "*.{ts,tsx}": ["pnpm lint"]
}

fix(): created shared type for http methods
  src/shared/types/http-methods.ts
Due: pnpm format:fix, pnpm lint

fix(): snackbar imports and middleware name
  src/app/providers/store/config/store.ts
Due: pnpm format:fix, pnpm lint

refactor(TZ-10): added props actionColor for confirmation modal and used it
  src/features/admin-products-categories/ui/get-products-categories/products-categories.table.tsx
  src/features/admin-products/ui/get-products/product.table.tsx
  src/pages/admin-products/ui/update-product/update-product.page.tsx
  src/shared/ui/modals/confirmation-modal/confirmation-modal.tsx
Due: pnpm lint

feat(TZ-10): runned rtk:codegen command
  src/entities/product/api/product.gen.ts
  src/entities/product/api/product.ts
Due: pnpm format:fix, pnpm lint

fix(TZ-10): fixed type error and typo
  src/features/admin-products/ui/update-product/update-product.form.tsx
Due: pnpm lint

feat(TZ-10): created bulk-update component , exported and used it
  src/features/admin-products/index.ts
  src/features/admin-products/ui/bulk-update/bulk-update.tsx
  src/pages/admin-products/ui/get-products/get-products.page.tsx
Due: pnpm format:fix, pnpm lint

hotfix(no-ticket): fix update product body
  src/features/admin-products/ui/update-product/update-product.form.tsx
Due: pnpm lint

refactor(architecture-enhancements): update eslint, typescript and plugin packages versions
  .env.development
  .github/workflows/deploy-production.yml
  commitlint.config.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: pnpm format:fix, pnpm lint

refactor(architecture-enhancements): update node version to 22.22.0
  .github/workflows/deploy-production.yml
  .nvmrc
  pnpm-lock.yaml
Due: none

refactor(architecture-enhancements): update vite and plugins version
  package.json
  pnpm-lock.yaml
Due: pnpm format:fix

refactor(architecture-enhancements): update mui version
  .prettierignore
  package.json
  pnpm-lock.yaml
  src/app/providers/mui/config/typography/typography.ts
  src/features/admin-products-categories/ui/create-products-category/create-products-category.form.tsx
  src/features/admin-products-categories/ui/update-products-category/update-products-category.form.tsx
  src/features/admin-products-categories/ui/view-products-category/view-products-category.form.tsx
  src/features/admin-products/ui/bulk-update/bulk-update.tsx
  src/features/admin-products/ui/create-product/create-product.form.tsx
  src/features/admin-products/ui/update-product/update-product.form.tsx
  src/features/admin-products/ui/view-product/view-product.form.tsx
  src/features/home/ui/products-section.tsx
  src/features/sign-in/ui/sign-in-form.tsx
  src/features/sign-up/ui/sign-up-form.tsx
Due: pnpm format:fix, pnpm lint

feat(orders-and-clients): added orders initial implementation
  package.json
  pnpm-lock.yaml
  src/features/admin-clients/ui/create-client/create-client.form.tsx
  src/features/admin-orders/ui/view-order/lib/download-order-xlsx.ts
  src/features/admin-orders/ui/view-order/view-order.form.tsx
  src/features/create-order/ui/create-order-form.tsx
  src/features/home/ui/add-to-order-block.tsx
  src/features/home/ui/products-section.tsx
  src/shared/ui/components/product-card.tsx
Due: pnpm format:fix, pnpm lint

chore(orders-and-clients): fix generated api
  openapi.config.cjs
  src/entities/auth/api/auth.gen.ts
  src/entities/auth/api/auth.ts
  src/entities/client/api/client.gen.ts
  src/entities/order/api/order.gen.ts
  src/entities/product-category/api/product-category.gen.ts
  src/entities/product/api/product.gen.ts
  src/entities/user/api/user.gen.ts
  src/features/create-order/ui/create-order-form.tsx
Due: pnpm format:fix, pnpm lint

chore(orders-and-clients): fix generated api
  openapi.config.cjs
  src/features/admin-products/ui/create-product/create-product.form.tsx
  src/features/admin-products/ui/filters/products-filters.tsx
  src/features/admin-products/ui/update-product/update-product.form.tsx
Due: pnpm lint

feat(orders-and-clients): update inputs and order table
  src/entities/order-draft/model/order-draft.slice.ts
  src/features/create-order/ui/create-order-form.tsx
  src/features/home/ui/add-to-order-block.tsx
  src/shared/ui/components/index.ts
  src/shared/ui/components/quantity-input.tsx
Due: pnpm format:fix, pnpm lint

feat(orders-and-clients): update product card and clients select
  src/features/create-order/ui/create-order-form.tsx
  src/shared/ui/components/product-card.tsx
Due: pnpm lint

feat(orders-and-clients): update pagination
  src/features/admin-clients/ui/get-clients/clients-table.tsx
  src/features/admin-orders/ui/get-orders/orders-table.tsx
  src/features/admin-products/ui/get-products/product.table.tsx
  src/pages/home/ui/home.page.tsx
  src/shared/constants/table-pagination.ts
Due: pnpm format:fix, pnpm lint

feat(orders-and-clients): update view order table
  src/features/admin-orders/ui/view-order/view-order.form.tsx
Due: pnpm lint

feat(orders-and-clients): update product card
  src/features/home/ui/add-to-order-block.tsx
  src/features/home/ui/products-section.tsx
  src/shared/ui/components/product-card.tsx
Due: pnpm lint

feat(category-code-sort): added category code sort on the main page
  src/app/providers/router/config/routes/home.route.ts
  src/entities/product/api/product.gen.ts
  src/features/admin-products/ui/filters/products-filters.tsx
Due: pnpm format:fix, pnpm lint

feat(out-of-stock): update product card and add out of stock filter
  src/app/providers/router/config/routes/home.route.ts
  src/app/providers/router/config/routes/products.route.ts
  src/entities/product/api/product.gen.ts
  src/features/admin-products/model/filters/form.types.ts
  src/features/admin-products/ui/filters/products-filters.tsx
  src/pages/admin-products/model/get-products/products-query.defaults.ts
  src/pages/admin-products/ui/get-products/get-products.page.tsx
  src/pages/home/ui/home.page.tsx
  src/shared/ui/components/product-card.tsx
Due: pnpm format:fix, pnpm lint

feat(out-of-stock): update filter default value
  src/pages/admin-products/model/get-products/products-query.defaults.ts
Due: pnpm format:fix, pnpm lint
