Repository VladimirGhrejyan/metallic-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format:fix, pnpm lint

feat(m-1): created all [features] UI / MODELs for admin-products-categories
  src/features/admin-products-categories/index.ts
  src/features/admin-products-categories/model/create-category/form.constants.ts
  src/features/admin-products-categories/model/create-category/form.schema.ts
  src/features/admin-products-categories/model/create-category/form.types.ts
  src/features/admin-products-categories/model/filters/form.types.ts
  src/features/admin-products-categories/model/get-products/table.constants.ts
  src/features/admin-products-categories/model/update-category/form.constants.ts
  src/features/admin-products-categories/model/update-category/form.schema.ts
  src/features/admin-products-categories/model/update-category/form.types.ts
  src/features/admin-products-categories/ui/create-products-category/create-products-category.form.tsx
  src/features/admin-products-categories/ui/filters/products-categories-filters.tsx
  src/features/admin-products-categories/ui/get-products-categories/products-categories.table.tsx
  src/features/admin-products-categories/ui/update-products-category/update-product-category.form.tsx
Due: pnpm format:fix, pnpm lint

feat(m-1): created all [pages] UI / MODELs for admin-products-categories
  src/pages/admin-products-categories/index.ts
  src/pages/admin-products-categories/model/get-product-categories/form.types.ts
  src/pages/admin-products-categories/ui/create-product-category/create-products-category.page.tsx
  src/pages/admin-products-categories/ui/get-products-categories/get-products-categories.page.tsx
  src/pages/admin-products-categories/ui/update-product-category/update-products-category.tsx
Due: pnpm format:fix, pnpm lint

refactor(m-1): refactored and created necessary UI for home page
  src/features/home/ui/products-section.tsx
  src/pages/home/ui/home.page.tsx
Due: pnpm lint

feat(m-1): run rtk codegen
  src/entities/auth/api/auth.gen.ts
  src/entities/product-category/api/product-category.gen.ts
  src/entities/product/api/product.gen.ts
  src/entities/user/api/user.gen.ts
Due: pnpm format:fix, pnpm lint

feat(m-1): run rtk codegen , generate API updates
  src/entities/product/api/product.gen.ts
  src/entities/product/api/product.ts
Due: pnpm format:fix, pnpm lint

feat(m-1): added necessary changes in mui theme
  src/app/providers/mui/config/color-palette/color-palette.ts
  src/app/providers/mui/config/common/colors.constant.ts
  src/app/providers/mui/config/typography/typography.ts
Due: pnpm format:fix, pnpm lint

refactor(m-1): changed react-icons to mui-icons
  src/features/sign-in/ui/sign-in-form.tsx
  src/features/sign-up/ui/sign-up-form.tsx
  src/pages/admin-products-categories/ui/get-products-categories/get-products-categories.page.tsx
  src/pages/admin-products/ui/get-products/get-products.page.tsx
  src/shared/ui/componets/back-button.tsx
  src/shared/ui/componets/sign-out-button.tsx
  src/widgets/filters-popover/ui/filters-popover.tsx
Due: pnpm lint

refactor(m-1): added Typography in necessary files, and change styles
  src/features/admin-products-categories/ui/filters/products-categories-filters.tsx
  src/features/admin-products-categories/ui/get-products-categories/products-categories.table.tsx
  src/features/admin-products/model/get-products/table.constants.ts
  src/features/admin-products/ui/filters/products-filters.tsx
  src/features/admin-products/ui/get-products/product.table.tsx
  src/shared/ui/componets/page-header.tsx
  src/shared/ui/componets/product-card.tsx
  src/widgets/navbar/ui/navbar.tsx
Due: pnpm format:fix, pnpm lint

feat(m-1): added image upload and update functionality
  src/features/admin-products/ui/create-product/create-product.form.tsx
  src/features/admin-products/ui/update-product/update-product.form.tsx
Due: pnpm lint

fix(m-1): fixed console error
  src/pages/home/ui/home.page.tsx
Due: pnpm lint

feat(m-1): created and exported helper function for calculate total price and no-data component
  src/shared/helpers/calculate-total-price.ts
  src/shared/helpers/index.ts
  src/shared/ui/componets/index.ts
  src/shared/ui/componets/no-data.tsx
Due: pnpm format:fix, pnpm lint

feat(m-1): installed heic2any and image compresser lib's
  package.json
  pnpm-lock.yaml
Due: pnpm format:fix

feat(m-1): added placeholder image for product-card component
  src/shared/assets/placeholder.png
Due: none

feat(m-1): run rtk codegen get API updates
  src/entities/product/api/product.gen.ts
Due: pnpm format:fix, pnpm lint

feat(m-1): added quantity and description for product, move duplicated functions to shared helpers
  src/features/admin-products/model/create-product/form.constants.ts
  src/features/admin-products/model/create-product/form.schema.ts
  src/features/admin-products/model/create-product/form.types.ts
  src/features/admin-products/model/update-product/form.constants.ts
  src/features/admin-products/model/update-product/form.schema.ts
  src/features/admin-products/model/update-product/form.types.ts
  src/features/admin-products/ui/create-product/create-product.form.tsx
  src/features/admin-products/ui/update-product/update-product.form.tsx
  src/pages/admin-products-categories/ui/get-products-categories/get-products-categories.page.tsx
  src/pages/admin-products/ui/get-products/get-products.page.tsx
  src/pages/home/ui/home.page.tsx
  src/shared/helpers/clean-object-by-keys.ts
  src/shared/helpers/compress-image.ts
  src/shared/helpers/convert-heic-to-jpg.ts
  src/shared/helpers/handle-query-args.ts
  src/shared/helpers/index.ts
  src/shared/ui/componets/product-card.tsx
Due: pnpm format:fix, pnpm lint

chore(m-1): create vercel.json for redirects config
  vercel.json
Due: pnpm format:fix

refactor(m-1): remove, delete icon and functionallity
  src/features/admin-products-categories/ui/get-products-categories/products-categories.table.tsx
  src/features/admin-products/ui/get-products/product.table.tsx
Due: pnpm lint

refactor(m-1): added toLowerCase for emails, and swapped title/code
  src/features/admin-products-categories/model/get-products/table.constants.ts
  src/features/sign-in/ui/sign-in-form.tsx
  src/features/sign-up/ui/sign-up-form.tsx
Due: pnpm format:fix, pnpm lint

refactor(m-1): fix typo
  src/pages/admin-products-categories/index.ts
  src/pages/admin-products-categories/ui/update-product-category/update-products-category.page.tsx
  src/pages/admin-products/index.ts
  src/pages/admin-products/ui/create-product/create-product.page.tsx
  src/pages/admin-products/ui/update-product/update-product.page.tsx
Due: pnpm format:fix, pnpm lint

refactor(m-1): added FC for components
  src/features/admin-products-categories/ui/update-products-category/update-products-category.form.tsx
  src/features/admin-products-categories/ui/view-products-category/view-products-category.form.tsx
  src/pages/admin-products-categories/ui/view-product-category/view-products-category.page.tsx
Due: pnpm lint

feat(m-1): create product / products category view forms and pages
  src/app/providers/router/config/route-tree.ts
  src/app/providers/router/config/routes/index.ts
  src/app/providers/router/config/routes/product-view.route.ts
  src/app/providers/router/config/routes/products-category-view.route.ts
  src/features/admin-products-categories/index.ts
  src/features/admin-products/index.ts
  src/features/admin-products/ui/view-product/view-product.form.tsx
  src/pages/admin-products-categories/index.ts
  src/pages/admin-products/index.ts
  src/pages/admin-products/ui/view-product/view-product.page.tsx
Due: pnpm format:fix, pnpm lint

feat(m-1): added functionallity for navigate view pages
  src/features/admin-products-categories/ui/get-products-categories/products-categories.table.tsx
  src/features/admin-products/ui/get-products/product.table.tsx
Due: pnpm lint

refactor(m-1): added React FC for components
  src/features/admin-products-categories/ui/create-products-category/create-products-category.form.tsx
  src/features/admin-products/ui/create-product/create-product.form.tsx
  src/features/admin-products/ui/filters/products-filters.tsx
  src/features/admin-products/ui/update-product/update-product.form.tsx
  src/pages/admin-products-categories/ui/create-product-category/create-products-category.page.tsx
  src/pages/admin-products-categories/ui/get-products-categories/get-products-categories.page.tsx
  src/pages/admin-products-categories/ui/update-product-category/update-products-category.page.tsx
Due: pnpm lint

chore(m-1): added github workflow for deploying production
  .env.production
  .github/workflows/deploy-production.yml
Due: none

chore(m-1): change target branch name
  .github/workflows/deploy-production.yml
Due: none

feat(m-1): wrapped the product card component with a Link
  src/shared/ui/componets/product-card.tsx
Due: pnpm lint

feat(m-1): created Confirmation modal for UPDATE | DELETE actions
  src/shared/ui/modals/confirmation-modal/confirmation-modal.tsx
  src/shared/ui/modals/index.tsx
Due: pnpm lint

refactor(m-1): added default filters for categories
  src/features/admin-products/ui/update-product/update-product.form.tsx
Due: pnpm lint

feat(m-1): added delete functionality
  src/features/admin-products-categories/ui/get-products-categories/products-categories.table.tsx
  src/features/admin-products/ui/get-products/product.table.tsx
Due: pnpm lint

feat(): added grid sizes depending on screen width
  src/features/home/ui/products-section.tsx
  src/shared/ui/componets/product-card.tsx
Due: pnpm lint

feat(): added/changed filters,pagination,search logic from local to url params
  src/app/providers/router/config/routes/home.route.ts
  src/app/providers/router/config/routes/products-categories.route.ts
  src/app/providers/router/config/routes/products.route.ts
  src/features/admin-products/ui/filters/products-filters.tsx
  src/features/admin-products/ui/get-products/product.table.tsx
  src/pages/admin-products-categories/ui/get-products-categories/get-products-categories.page.tsx
  src/pages/admin-products/model/get-products/admin-products.types.ts
  src/pages/admin-products/ui/get-products/get-products.page.tsx
  src/pages/home/ui/home.page.tsx
Due: pnpm format:fix, pnpm lint

feat(): added deletion functionality
  src/pages/admin-products/ui/update-product/update-product.page.tsx
Due: pnpm lint

feat(): added all necessary shared constants or function helpers
  src/shared/constants/index.ts
  src/shared/constants/table-pagination.ts
  src/shared/helpers/cleaned-object.ts
  src/shared/helpers/handle-query-args.ts
  src/shared/helpers/index.ts
  src/shared/helpers/stringify-object.ts
  src/shared/ui/componets/search-input.tsx
Due: pnpm format:fix, pnpm lint

fix(): fixed console error
  src/shared/ui/modals/confirmation-modal/confirmation-modal.tsx
Due: pnpm lint

feat(): added search param referrer and used it for navigation
  src/app/providers/router/config/routes/product-update.route.ts
  src/pages/admin-products/ui/update-product/update-product.page.tsx
  src/pages/admin-products/ui/view-product/view-product.page.tsx
Due: pnpm format:fix, pnpm lint

feat(): created global snackbar component and used it
  src/app/providers/router/ui/root.layout.tsx
  src/shared/ui/componets/snackbar.tsx
Due: pnpm lint

feat(): created toast middleware and types
  src/app/providers/store/lib/toast.middleware.ts
  src/app/providers/store/lib/utils/toast.guard.ts
Due: pnpm format:fix, pnpm lint

feat(): created a snackbar slice and added it to the redux store
  src/app/providers/store/config/store.ts
  src/app/providers/store/lib/snackbar-slice/index.ts
Due: pnpm format:fix, pnpm lint

fix(): fixed typo in name of components folder in shared folder
  src/app/providers/router/ui/root.layout.tsx
  src/features/admin-products-categories/ui/create-products-category/create-products-category.form.tsx
  src/features/admin-products-categories/ui/get-products-categories/products-categories.table.tsx
  src/features/admin-products-categories/ui/update-products-category/update-products-category.form.tsx
  src/features/admin-products-categories/ui/view-products-category/view-products-category.form.tsx
  src/features/admin-products/ui/create-product/create-product.form.tsx
  src/features/admin-products/ui/get-products/product.table.tsx
  src/features/admin-products/ui/update-product/update-product.form.tsx
  src/features/admin-products/ui/view-product/view-product.form.tsx
  src/features/home/ui/products-section.tsx
  src/pages/admin-products-categories/ui/create-product-category/create-products-category.page.tsx
  src/pages/admin-products-categories/ui/get-products-categories/get-products-categories.page.tsx
  src/pages/admin-products-categories/ui/update-product-category/update-products-category.page.tsx
  src/pages/admin-products-categories/ui/view-product-category/view-products-category.page.tsx
  src/pages/admin-products/ui/create-product/create-product.page.tsx
  src/pages/admin-products/ui/get-products/get-products.page.tsx
  src/pages/admin-products/ui/update-product/update-product.page.tsx
  src/pages/admin-products/ui/view-product/view-product.page.tsx
  src/pages/home/ui/home.page.tsx
  src/shared/ui/components/back-button.tsx
  src/shared/ui/components/index.ts
  src/shared/ui/components/loader.tsx
  src/shared/ui/components/no-data.tsx
  src/shared/ui/components/page-header.tsx
  src/shared/ui/components/product-card.tsx
  src/shared/ui/components/search-input.tsx
  src/shared/ui/components/sign-out-button.tsx
  src/shared/ui/components/snackbar.tsx
  src/widgets/navbar/ui/navbar.tsx
Due: pnpm format:fix, pnpm lint

fix(): moved snackbar slice/types/middleware in entities
  src/entities/snackbar/index.ts
  src/entities/snackbar/lib/snackbar-slice/index.ts
  src/entities/snackbar/lib/snackbar.middleware.ts
  src/entities/snackbar/utils/snackbar.guard.ts
  src/shared/ui/components/snackbar.tsx
Due: pnpm format:fix, pnpm lint

Path conditions:
  pnpm format:fix: any of: *.{js,ts,jsx,md,json}
  pnpm lint: any of: *.{ts,tsx}
