Repository VladimirGhrejyan/metallic-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format:fix, pnpm lint

.lintstagedrc.json:

{
    "*.{js,ts,jsx,md,json}": ["pnpm format:fix", "git add"],
    "*.{ts,tsx}": ["pnpm lint"]
}

chore(m-1): added env validation
  .env.development
  .env.production
  .gitignore
  config/build/constants/env-prefix.constant.ts
  config/build/constants/index.ts
  config/build/plugins/build-plugins.ts
  config/build/plugins/index.ts
  config/build/plugins/validate-env/config.schema.ts
  config/build/plugins/validate-env/validate-env.plugin.ts
  package.json
  pnpm-lock.yaml
  src/app/app.tsx
  src/app/types/vite-env.d.ts
  tsconfig.app.json
  vite.config.ts
Due: pnpm format:fix, pnpm lint

chore(m-1): added docker and nginx
  .dockerignore
  .env.development
  .env.production
  Dockerfile
  config/build/server/build-server-options.ts
  config/build/server/index.ts
  config/nginx/nginx.conf
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  src/app/types/vite-env.d.ts
  vite.config.ts
Due: pnpm format:fix, pnpm lint

chore(m-1): added basic routing configuration
  package.json
  pnpm-lock.yaml
  src/app/app.tsx
  src/app/providers/error-boundary/index.ts
  src/app/providers/error-boundary/ui/error-boundary.tsx
  src/app/providers/mui/config/mui.theme.ts
  src/app/providers/mui/index.ts
  src/app/providers/mui/ui/mui.provider.tsx
  src/app/providers/router/config/root.route.ts
  src/app/providers/router/config/route-tree.ts
  src/app/providers/router/config/router.ts
  src/app/providers/router/config/routes/admin.route.ts
  src/app/providers/router/config/routes/home.route.ts
  src/app/providers/router/config/routes/index.ts
  src/app/providers/router/config/routes/sign-in.route.ts
  src/app/providers/router/config/routes/sign-up.route.ts
  src/app/providers/router/index.ts
  src/app/providers/router/model/types/router.d.ts
  src/app/providers/router/ui/root.layout.tsx
  src/app/providers/router/ui/router.provider.tsx
  src/pages/admin/index.ts
  src/pages/admin/ui/admin.page.tsx
  src/pages/home/index.ts
  src/pages/home/ui/home.page.tsx
  src/pages/sign-in/index.ts
  src/pages/sign-in/ui/sign-in.page.tsx
  src/pages/sign-up/index.ts
  src/pages/sign-up/ui/sign-up.page.tsx
Due: pnpm format:fix, pnpm lint

feat(m-1): added rtkq basic configuration
  .env.development
  .env.production
  config/build/plugins/validate-env/config.schema.ts
  openapi.config.cjs
  package.json
  src/app/providers/store/config/store.ts
  src/app/providers/store/index.ts
  src/app/providers/store/ui/store.provider.tsx
  src/app/types/vite-env.d.ts
  src/entities/auth/api/auth.gen.ts
  src/entities/auth/api/auth.ts
  src/entities/auth/api/index.ts
  src/entities/product-category/api/product-category.gen.ts
  src/entities/product/api/product.gen.ts
  src/entities/user/api/user.gen.ts
  src/main.tsx
  src/shared/config/api/api.ts
  src/shared/config/api/index.ts
Due: pnpm format:fix, pnpm lint

fix(m-1): deleted unused export statement
  docker-compose.yml
  pnpm-lock.yaml
  src/app/providers/store/index.ts
Due: pnpm format:fix, pnpm lint

feat(m-1): added api for entities
  src/entities/auth/api/auth.ts
  src/entities/auth/api/index.ts
  src/entities/auth/index.ts
  src/entities/product-category/api/product-category.ts
  src/entities/product-category/index.ts
  src/entities/product/api/product.ts
  src/entities/product/index.ts
  src/entities/user/api/user.ts
  src/entities/user/index.ts
Due: pnpm format:fix, pnpm lint

feat(m-1): added mui config
  .babelrc.js
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/app/providers/mui/config/color-palette/color-palette.ts
  src/app/providers/mui/config/color-palette/index.ts
  src/app/providers/mui/config/common/colors.constant.ts
  src/app/providers/mui/config/common/index.ts
  src/app/providers/mui/config/components/button/button.ts
  src/app/providers/mui/config/components/button/index.ts
  src/app/providers/mui/config/components/card/card.ts
  src/app/providers/mui/config/components/card/index.ts
  src/app/providers/mui/config/components/components.ts
  src/app/providers/mui/config/components/drawer/drawer.ts
  src/app/providers/mui/config/components/drawer/index.ts
  src/app/providers/mui/config/components/index.ts
  src/app/providers/mui/config/mui.theme.ts
  src/app/providers/mui/config/typography/index.ts
  src/app/providers/mui/config/typography/typography.ts
  src/app/providers/mui/ui/mui.provider.tsx
  src/app/providers/router/ui/root.layout.tsx
  src/entities/auth/api/auth.gen.ts
  src/entities/auth/api/auth.ts
  src/entities/user/api/user.gen.ts
  src/features/sign-up/index.ts
  src/features/sign-up/model/form.types.ts
  src/features/sign-up/ui/sign-up-form.tsx
  src/pages/sign-up/ui/sign-up.page.tsx
  src/shared/ui/controllers/input-controller/index.ts
  src/shared/ui/controllers/input-controller/input.controller.tsx
  src/widgets/sidebar/index.ts
  src/widgets/sidebar/model/list-items.tsx
  src/widgets/sidebar/ui/sidebar.tsx
  tsconfig.node.json
Due: pnpm format:fix, pnpm lint

feat(m-1): added mui config
  pnpm-lock.yaml
Due: none

feat(m-1): add rtk middleware
  .env.development
  src/app/providers/store/config/store.ts
  src/app/providers/store/lib/auth.middleware.ts
  src/app/providers/store/lib/utils/is-error-response.guard.ts
  src/entities/auth/api/auth.ts
  src/features/sign-up/ui/sign-up-form.tsx
  src/shared/config/api/api.ts
  src/shared/lib/storage/index.ts
  src/shared/lib/storage/storage.ts
  src/shared/lib/storage/types.ts
Due: pnpm format:fix, pnpm lint

feat(m-1): create sign-in/sign-up form schemas,constants,types,UI
  src/features/sign-in/index.ts
  src/features/sign-in/model/form.constants.ts
  src/features/sign-in/model/form.schema.ts
  src/features/sign-in/model/form.types.ts
  src/features/sign-in/ui/sign-in-form.tsx
  src/features/sign-up/model/form.constants.ts
  src/features/sign-up/model/form.schema.ts
  src/pages/sign-in/ui/sign-in.page.tsx
  src/shared/ui/overrides/mui-link/index.ts
  src/shared/ui/overrides/mui-link/mui-custom-link.tsx
Due: pnpm format:fix, pnpm lint

fix(m-1): fixed absolute paths
  src/entities/auth/api/auth.gen.ts
  src/entities/product-category/api/product-category.gen.ts
  src/entities/product/api/product.gen.ts
  src/entities/user/api/user.gen.ts
Due: pnpm format:fix, pnpm lint

feat(m-1): create authenticated/unauthenticated routing & layout components, wrote necessary styles
  src/app/providers/router/config/authenticated.route.ts
  src/app/providers/router/config/route-tree.ts
  src/app/providers/router/config/routes/admin.route.ts
  src/app/providers/router/config/routes/home.route.ts
  src/app/providers/router/config/routes/sign-in.route.ts
  src/app/providers/router/config/routes/sign-up.route.ts
  src/app/providers/router/config/unauthenticated.route.ts
  src/app/providers/router/ui/authenticated.layout.tsx
  src/app/providers/router/ui/unauthenticated.layout.tsx
Due: pnpm format:fix, pnpm lint

fix(m-1): fixed sign-in form password validation and error message
  src/features/sign-in/model/form.constants.ts
  src/features/sign-in/model/form.schema.ts
Due: pnpm format:fix, pnpm lint

feat(m-1): install react-icons
  package.json
  pnpm-lock.yaml
Due: pnpm format:fix

feat(m-1): create product & product-category routes and UI (table)
  src/app/providers/router/config/route-tree.ts
  src/app/providers/router/config/router.ts
  src/app/providers/router/config/routes/index.ts
  src/app/providers/router/config/routes/products-category.route.ts
  src/app/providers/router/config/routes/products.route.ts
  src/app/providers/router/ui/authenticated.layout.tsx
  src/features/products-category/index.ts
  src/features/products-category/model/table.types.ts
  src/features/products-category/ui/products-category.table.tsx
  src/features/products/index.ts
  src/features/products/model/table.types.ts
  src/features/products/ui/product.table.tsx
  src/pages/admin-products-category/index.ts
  src/pages/admin-products-category/ui/admin-products-category.page.tsx
  src/pages/admin-products/index.ts
  src/pages/admin-products/ui/admin-products.page.tsx
  src/pages/admin/ui/admin.page.tsx
  src/pages/home/ui/home.page.tsx
  src/shared/ui/componets/index.ts
  src/shared/ui/componets/page-header.tsx
Due: pnpm format:fix, pnpm lint

feat(m-1): create helpers functions for auth/unauth redirects
  src/app/providers/router/config/authenticated.route.ts
  src/app/providers/router/config/unauthenticated.route.ts
  src/app/providers/router/lib/check-auth.ts
Due: pnpm format:fix, pnpm lint

feat(m-1): create and configure routes
  src/app/providers/router/config/route-tree.ts
  src/app/providers/router/config/routes/index.ts
  src/app/providers/router/config/routes/products-category-create.route.ts
  src/app/providers/router/config/routes/products-category-id-edit.route.ts
  src/app/providers/router/config/routes/products-create.route.ts
  src/app/providers/router/config/routes/products-id-edit.route.ts
Due: pnpm format:fix, pnpm lint

feat(m-1): create products-category UI / models & generate api
  src/entities/product-category/api/product-category.gen.ts
  src/entities/product-category/api/product-category.ts
  src/features/products-category/index.ts
  src/features/products-category/model/form.constants.ts
  src/features/products-category/model/form.schema.ts
  src/features/products-category/model/form.types.ts
  src/features/products-category/ui/products-category.table.tsx
Due: pnpm format:fix, pnpm lint

feat(m-1): change admin-products page ui
  src/pages/admin-products/ui/admin-products.page.tsx
Due: pnpm lint

feat(m-1): create widgets
  src/widgets/filters-popover/index.ts
  src/widgets/filters-popover/ui/filters-popover.tsx
  src/widgets/navbar/index.ts
  src/widgets/navbar/model/nav-items.tsx
  src/widgets/navbar/model/nav-items.type.ts
  src/widgets/navbar/ui/navbar.tsx
  src/widgets/search/index.ts
  src/widgets/search/ui/search.tsx
  src/widgets/sidebar/ui/sidebar.tsx
Due: pnpm format:fix, pnpm lint

feat(m-1): create shared components
  src/shared/ui/componets/back-button.tsx
  src/shared/ui/componets/index.ts
  src/shared/ui/componets/products-card.tsx
  src/shared/ui/componets/sign-out-button.tsx
  src/shared/ui/overrides/mui-link/mui-custom-link.tsx
Due: pnpm format:fix, pnpm lint

feat(m-1): create products-id-edit ui
  src/pages/products-id-edit/index.ts
  src/pages/products-id-edit/ui/products-id-edit.page.tsx
Due: pnpm format:fix, pnpm lint

feat(m-1): create products-create ui
  src/pages/products-create/index.ts
  src/pages/products-create/ui/products-create.page.tsx
Due: pnpm format:fix, pnpm lint

feat(m-1): added show/hide icons for password inputs
  src/features/sign-in/ui/sign-in-form.tsx
  src/features/sign-up/ui/sign-up-form.tsx
Due: pnpm lint

feat(m-1): create products section and modified products table
  src/features/home/ui/products-section.tsx
  src/features/products/ui/product.table.tsx
Due: pnpm lint

feat(m-1): create products category create UI / form, products category edit page
  src/features/home/index.ts
  src/features/products-category/ui/products-category-create.form.tsx
  src/pages/products-category-create/index.ts
  src/pages/products-category-create/ui/products-category-create.page.tsx
  src/pages/products-category-id-edit/index.ts
  src/pages/products-category-id-edit/ui/products-category-id-edit.page.tsx
Due: pnpm format:fix, pnpm lint

refactor(m-1): delete unnecessary file
  src/features/products-category/model/table.types.ts
Due: pnpm format:fix, pnpm lint

refactor(m-1): modified auth api / auth layout/ home page / admin products category page
  src/app/providers/router/ui/authenticated.layout.tsx
  src/entities/auth/api/auth.ts
  src/pages/admin-products-category/ui/admin-products-category.page.tsx
  src/pages/home/ui/home.page.tsx
Due: pnpm format:fix, pnpm lint

refactor(m-1): commented out the necessary codes to restrict access home/sign-up pages
  src/app/providers/router/config/routes/home.route.ts
  src/app/providers/router/config/routes/sign-up.route.ts
  src/widgets/navbar/model/nav-items.tsx
Due: pnpm format:fix, pnpm lint

refactor(m-1): delete all unnecessary files and folders
  src/app/providers/router/config/routes/products-category-id-edit.route.ts
  src/app/providers/router/config/routes/products-category.route.ts
  src/app/providers/router/config/routes/products-id-edit.route.ts
  src/features/products-category/index.ts
  src/features/products-category/model/form.constants.ts
  src/features/products-category/model/form.schema.ts
  src/features/products-category/model/form.types.ts
  src/features/products-category/ui/products-category-create.form.tsx
  src/features/products-category/ui/products-category.table.tsx
  src/features/products/index.ts
  src/features/products/model/table.types.ts
  src/features/products/ui/product.table.tsx
  src/pages/admin-products-category/index.ts
  src/pages/admin-products-category/ui/admin-products-category.page.tsx
  src/pages/admin-products/ui/admin-products.page.tsx
  src/pages/products-category-create/index.ts
  src/pages/products-category-create/ui/products-category-create.page.tsx
  src/pages/products-category-id-edit/index.ts
  src/pages/products-category-id-edit/ui/products-category-id-edit.page.tsx
  src/pages/products-create/index.ts
  src/pages/products-create/ui/products-create.page.tsx
  src/pages/products-id-edit/index.ts
  src/pages/products-id-edit/ui/products-id-edit.page.tsx
Due: pnpm format:fix, pnpm lint

refactor(m-1): refactored routes names
  src/app/providers/router/config/route-tree.ts
  src/app/providers/router/config/routes/home.route.ts
  src/app/providers/router/config/routes/index.ts
  src/app/providers/router/config/routes/product-update.route.ts
  src/app/providers/router/config/routes/products-categories.route.ts
  src/app/providers/router/config/routes/products-category-update.route.ts
  src/app/providers/router/config/routes/products-create.route.ts
  src/app/providers/router/config/routes/products.route.ts
Due: pnpm format:fix, pnpm lint

feat(m-1): run rtk:codegen & get updates
  src/entities/product-category/api/product-category.gen.ts
  src/entities/product-category/api/product-category.ts
  src/entities/product/api/product.gen.ts
  src/entities/product/api/product.ts
Due: pnpm format:fix, pnpm lint

feat(m-1): installed react-number-format
  package.json
  pnpm-lock.yaml
Due: pnpm format:fix

refactor(m-1): refactored widgets
  src/widgets/filters-popover/ui/filters-popover.tsx
  src/widgets/navbar/model/nav-items.tsx
  src/widgets/navbar/ui/navbar.tsx
  src/widgets/search/ui/search.tsx
Due: pnpm lint

feat(m-1): create shared components/controllers
  src/shared/ui/componets/index.ts
  src/shared/ui/componets/loader.tsx
  src/shared/ui/componets/search-input.tsx
  src/shared/ui/controllers/input-controller/autocomplete-controller.tsx
  src/shared/ui/controllers/input-controller/number-input.controller.tsx
Due: pnpm format:fix, pnpm lint

refactor(m-1): refactored product-card
  src/shared/ui/componets/product-card.tsx
Due: pnpm lint

refactor(m-1): changed the check for screen size
  src/app/providers/router/ui/authenticated.layout.tsx
Due: pnpm lint

refactor(m-1): added all necessary hooks and types exports
  src/entities/product-category/api/product-category.ts
  src/entities/product/api/product.ts
Due: pnpm format:fix, pnpm lint

feat(m-1): created all [features] UI / MODELs for admin-product
  src/features/admin-products/index.ts
  src/features/admin-products/model/create-product/form.constants.ts
  src/features/admin-products/model/create-product/form.schema.ts
  src/features/admin-products/model/create-product/form.types.ts
  src/features/admin-products/model/filters/form.types.ts
  src/features/admin-products/model/get-products/table.constants.ts
  src/features/admin-products/model/update-product/form.constants.ts
  src/features/admin-products/model/update-product/form.schema.ts
  src/features/admin-products/model/update-product/form.types.ts
  src/features/admin-products/ui/create-product/create-product.form.tsx
  src/features/admin-products/ui/filters/products-filters.tsx
  src/features/admin-products/ui/get-products/product.table.tsx
  src/features/admin-products/ui/update-product/update-product.form.tsx
Due: pnpm format:fix, pnpm lint

feat(m-1): created all [pages] UI / MODELs for admin-products
  src/pages/admin-products/index.ts
  src/pages/admin-products/model/get-products/admin-products.types.ts
  src/pages/admin-products/ui/create-product/create-product-page.tsx
  src/pages/admin-products/ui/get-products/get-products.page.tsx
  src/pages/admin-products/ui/update-product/update-product-page.tsx
Due: pnpm format:fix, pnpm lint
